
<div id="login">
  <div class="wrapper login-wrapper">
    <h1>Login</h1>
    <form class="login-form" action="index.html" method="post">
      <div class="form-group">
        <input class="input-form" type="text" name="username" value="" required>
        <label for="">Username</label>
      </div>
      <div class="form-group">
        <input class="input-form" type="password" name="username" value="" required>
        <label for="">Password</label>
      </div>
      <div class="form-group">
        <button type="submit" name="button">Go!</button>
      </div>
      <span>or</span>
      <div class="form-group">
        <button type="button" name="button" (click)="loginWithGoogle()">Login with Google!</button>
      </div>


      <a href="#">I don't remember my password</a>
      <a href="#">I don't have an account</a>

    </form>
  </div>

</div>
