@import "../../../../assets/styles/utilities/all.scss"; // NOTE: Importing variables and mixinx

#register {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .register-wrapper {
    padding: 2rem;
    width: 100%;
    max-width: 400px;

    h1 {
      color: $primary;
      text-align: center;
    }

    .form-group {
      position: relative;
      max-width: 275px;
      margin: auto;


    }

    button[type="submit"] {
      display: block;
      background: $primary;
      color: $white;
      width: 100%;
      max-width: 200px;
      padding: 5px;
      margin: 20px auto;
      border-radius: 16px;
      border: 1px solid transparent;
      font-size: 1.5rem;
      transition: all 300ms ease;
      &:hover{
        background: $white;
        color: $primary;
        border: 1px solid $primary;
      }
    }

    a{
      display: block;
      width: 100;
      text-align: center;

    }
  }
}
