@import "assets/styles/theme.scss";

body{
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 15px;
  @include md(){
    font-size: 18px;
  }
}

ul{
  padding: 0;
}

// NOTE: Esto es temporal mientras consigo ponerlo en otra parte
app-root{
  display: flex ;
}
