@import "assets/styles/theme.scss";

// TODO: Decide if i should separe all of this styles in diferent files in the folder assets/styles/theme

*{
  box-sizing: border-box;
}
html{
  font-family: 'Rubik';
  font-weight: normal;
  font-size: $font-size;
  @include md(){
    font-size: $font-size-md;
  }
  @include lg(){
    font-size: $font-size-lg;
  }
}
body{
  background: $body-bg;
  color: $black;
  overflow: hidden;
}


h1,.h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

h2,.h2 {
  font-size: 2rem;
}

h3,.h3 {
  font-size: 1.75rem;
}

h4,.h4 {
  font-size: 1.5rem;
}

h5,.h5 {
  font-size: 1.25rem;
}

h6,.h6 {
  font-size: 1.05rem;
}
p{
  font-size: 1rem;
}

button{
  cursor: pointer;
}
.input-form{
  border: 1px solid $primary;
  box-shadow: $box-shadow-input;
  border-radius: 16px;

}

ul{
  padding: 0;
  margin: 0;
}

.app-shell{
  display: flex;
}

.wrapper{
  box-shadow: $box-shadow;
  background: $white;
  border-radius: 16px;
}


input.input-primary {
  padding: 10px;
  width: 100%;
  margin: 10px 0;

  &:focus {
    & + label {
      top: 10px;
      color: $black;
    }
  }

  &:valid {
    & + label {
      top: 10px;
      color: $black;
      font-size: 0.90rem;
    }
  }

  &:invalid {
    & + label {
      top: 50%;
    }
  }
}

label.label-primary {
  color: $primary-light;
  background: $white;
  display: inline-block;
  font-weight: 400;
  left: 1em;
  transform: translatey(-50%);
  top: 50%;
  position: absolute;
  pointer-events: none;
  transition: all 300ms ease;
  user-select: none;
}
