$primary: #f44336;
$primary-light: #ff7961;
$primary-dark: #ba000d;

$secondary: #ffffff;
$secondary-light: #ffffff;
$secondary-dark: #cccccc;


$screen-xs-min: 320px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
